{% extends "base.html" %}

{% block body %}
{% include 'header.html' %}
{% block header %}{% endblock %}
<section>
    <table id="maintable">
        <tr>
            <td>
                {% block left %}{% endblock %}
                {% include 'left.html' %}
            </td>
            <td>
                {% block content %}{% endblock %}
            </td>
            <td>
                {% block right %}{% endblock %}
                {% include 'right.html' %}
            </td>
        </tr>
    </table>
</section>
{% block footer %}{% endblock %}
{% include 'footer.html' %}
{% endblock %}
