{% extends "body.html" %}

{% block content %}
<section>
    <header id="artheader">
        <h2>Articles</h2>
    </header>
    <article>
        <header>
            <h4>Article 1</h4>
        </header>
        <p>You can easily change the fo</p>
    </article>
    <article>
        <header>
            <h4>Article 2</h4>
        </header>
        <p>Include items that are .</p>
    </article>
    <article>
        <header>
            <h4>Article 3</h4>
        </header>
        <p>You can easily change th.</p>
    </article>
</section>
{% endblock %}
 
