*.cbp
*.layout
*.depend
*.o
*.dia
*.png
*.dia~
*.gch
\nbproject/
gen/
bin/
nbandroid/
build/
debug/

*.gz

*.aux

*.bbl

*.blg

*.log

*.out

*.toc

*.bak
/04Cuarto/Redes_MultiServicio_RMS/02_Server_sockets_threads/nbproject/private/
*.class

04Cuarto/Redes_MultiServicio_RMS/02_Server_Client_Sockets_Threads/lib/
