*.cbp
*.layout
*.depend
*.o
*.dia
*.png
*.dia~
*.gch
\nbproject/
gen/
bin/
nbandroid/
build/
debug/
\database/
\.vscode
/.project
\.vagrant
*.pyc
*.class
*.code-workspace
*.gz
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.bak
/04Cuarto/Redes_MultiServicio_RMS/02_Server_sockets_threads/nbproject/private/
04Cuarto/Redes_MultiServicio_RMS/02_Server_Client_Sockets_Threads/lib/
/04Cuarto/Redes_MultiServicio_RMS/02_Server_Client_Sockets_Threads/dist/
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/nbproject/private/
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/lib/nblibraries.properties
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/lib/junit_4/junit-4.12.jar
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/lib/junit_4/junit-4.12-sources.jar
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/nbproject/build-impl.xml
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/lib/slf4j-api-1.7.2.jar
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/lib/hamcrest/hamcrest-core-1.3.jar
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/nbproject/project.xml
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/nbproject/project.properties
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/nbproject/genfiles.properties
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/nbproject/configs/with_params.properties
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/lib/junit_4/junit-4.12-javadoc.jar
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/lib/webcam-capture-0.3.10.jar
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/lib/bridj-0.6.2.jar
/04Cuarto/Redes_MultiServicio_RMS/03_Practica_3/dist/