    {% load static %}
    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'js/metisMenu.min.js' %}"></script>
    
    <!-- Morris Charts JavaScript -->
    <script src="{% static 'js/raphael.min.js' %}"></script>
    <script src="{% static 'js/morris.min.js' %}"></script>
    <script src="{% static 'js/morris-data.js' %}"></script>

    <!-- Flot Charts JavaScript -->
    <script src="{% static 'js/excanvas.min.js' %}"></script>
    <script src="{% static 'js/jquery.flot.js' %}"></script>
    <script src="{% static 'js/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/jquery.flot.time.js' %}"></script>
    <script src="{% static 'js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/flot-data.js' %}"></script>

    <!-- LeaFlet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script src="{% static 'js/custom-leaflet.js' %}" defer></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>