{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount functions_extra %}

{% block head_title %}Maps...{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% include 'header.html' %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Localización de los Restaurantes</h1>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Situación del Restaurante.
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="map"></div>
                            </div>
                            <!-- .panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Lista de Restaurantes.
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <script type="text/javascript" defer>
                                                // La información que viene de los datos de la base de datos no esta en float
                                                // esta en string por lo tanto hay que convertir las "," en "." y despues
                                                // parsearlos a float, cambiando la posición de las coordenadas para que
                                                // las interprete el mapa, se hace así por la necesidad de trabajar con 
                                                // los datos importados desde los ficheros json.
                                                var restaurants = [];
                                            </script>
                                            {% for restaurant in restaurants %}
                                            <script type="text/javascript" defer>
                                                var restaurant = {
                                                    name: "{{ restaurant.name }}",
                                                    lati: parseFloat("{{ restaurant.location.coordinates.1 }}".replace(",",".")),
                                                    long: parseFloat("{{ restaurant.location.coordinates.0 }}".replace(",",".")),
                                                };
                                                restaurants.push(restaurant);
                                            </script>
                                            <tr>
                                                <td>{{ restaurant.name }}</td>
                                                <td>
                                                    <!-- La función del item la tenemos que tener por que los templates de DJango no se permiten renderizar los undercore -->
                                                    <a type="button" class="btn btn-success btn-circle" href="/restaurant/edit/{{ restaurant|getid }}"><i class="fa fa-pencil-square-o"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if restaurants.has_previous %}
                                            <a href="?page=1">&laquo; primero</a>
                                            <a href="?page={{ restaurants.previous_page_number }}">anterior</a>
                                        {% endif %}
                                        <span class="current">
                                            P&aacutegina {{ restaurants.number }} de {{ restaurants.paginator.num_pages }}.
                                        </span>
                                        {% if restaurants.has_next %}
                                            <a href="?page={{ restaurants.next_page_number }}">siguiente</a>
                                            <a href="?page={{ restaurants.paginator.num_pages }}">último &raquo;</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <!-- .panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
{% include 'footer.html' %}
{% endif %}
{% endblock %}