[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=vagrant
Group=vagrant
RuntimeDirectory=gunicorn
WorkingDirectory=/home/vagrant/src
ExecStart=/usr/local/bin/gunicorn --pid /run/gunicorn/pid   \
          --bind unix:/run/gunicorn/socket \
          --log-file /var/log/gunicorn/error.log --log-level debug DAIPROJECT.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target 
